h1 {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.card img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}